// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

/*Zoom everything out a bit*/
html{
zoom: 0.8;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
}

.uec-inline-block{
	display: inline-block;
}


.nhsuk-textarea{
	margin-bottom: 0;
}

.nhsuk-radios__item{
	margin-bottom: 0;
}


.btn-preset,
.btn-triage,
.btn-refresh-call-list{
	margin-bottom: 0;
	padding: 4px 16px;
}


.preset-wrapper th, 
.preset-wrapper td{
	padding: 6px;
}


#firstname,
#surname,
#dob{
	background-color: #FFEB3B;
}


.message.success{
	color: #007f3b;
}
.message.error{
	color: #da291c;
}